body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
}

.header, .hero, .footer{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
}

.header {
    justify-content: space-around;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
}

.hero {
    height: 400px;
    justify-content: space-evenly;
    align-items: center;
}

.left-hero {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

button {
    cursor: pointer;
    padding: 8px 30px;
    border-radius: 8px;
  }

#main-hero {
    font-size: 48px;
    font-weight: 900;
}

#signup {
    font-size: 16px;
    font-weight: 900;
    align-self: flex-start;
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #3882F6;
}

.right-hero {
    min-height: 250px;
    min-width: 500px;
    background-color: #727272;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    font-size: 18px;
    display: flex;
    padding: 0;
    gap: 24px;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.content-one{
    height: 450px;
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    gap: 48px;
    align-items: center;
}

#info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.container {
    display: flex;
    width: 45%;
    justify-content: space-evenly;
}

.info {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    flex-wrap: wrap;
    text-align: center;
    gap: 8px;
}

.card {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.content-two {
    height: 450px;
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2px;
}

#quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-height: 100%;
    width: 43%;
}

#quoter {
    font-size: 24px;
    font-weight: 900;
    align-self: self-end;
    width: 44%;
}

.content-three {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-box {
    background-color: #3882F6;
    border-radius: 8px;
    min-height: 120px;
    min-width: 900px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.left-bluebox {
    display: flex;
    flex-direction: column;
}

#upper {
    font-size: 21px;
    font-weight: 900;
}

#signup2 {
    font-size: 16px;
    font-weight: 900;
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
}